:root {
  --background: white;
  --header-color: linear-gradient(45deg, #ab78f3, #42af90);
}

[data-theme="dark"] {
  --background: #1d1d1d;
  --header-color: linear-gradient(45deg, #f3f378, #af4242);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  background-color: var(--background);
}

h1 {
  font-size: 3rem;
  background-image: var(--header-color);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.button_container {
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
}

button {
  border: none;
  border-radius: 3px;
  width: 45%;
  height: 40px;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

.light_button {
  background-color: #fff;
  color:#000
}

.dark_button {
  background-color: #1d1d1d;
  color: #fff;
}